.pet-card{
    display:flex;
    align-items: center;
    background-color: pink;
    margin: 10px 5px;
    border: solid 1px black;
    padding: 0 px 10px;
    text-align: center;
    justify-content: space-around;
}

.salon-header{
    background-color: lavenderblush;
    height: 60px;
    background-size: cover;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}
.pet-form{
    display:flex;
    align-items: center;
    background-color: rgb(206, 119, 159);
    margin: 10px 5px;
    border: solid 1px black;
    padding: 0 px 10px;
    text-align: center;
    width: 800px;
    height: 50px;
    
    
}

.petcount{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.error-border {
  border: 3px solid red;
}
.delete-btn {
    background-color: hotpink;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.delete-btn:hover {
    background-color: #a71d2a;
}

h1 {
  color: hotpink;
  font-size: 36px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  text-align: center;
}

body {
  background-color:lavenderblush;
}


#salonContainer {
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background-color: lavenderblush;
}

.header-image {
  display: inline-block;
  margin: 10px;
}

.header-image img {
  width: 300px; 
  height: 300px;
  object-fit: cover;
  border-radius: 50%; 
  border: 3px;
}

.header-row {
  display: flex;
  justify-content: center; 
  gap: 20px;      
  margin: 20px 0;
}